/GIMP/
\\
/Slack/
/autostart/
/configstore/
/dconf/
/discord/
/fish/
/google-chrome/
/menus/
/mimeapps.list
/pavucontrol.ini
/pulse/
/spotify/
/rua/
/teamviewer/
/Nextcloud/
/cef_user_data/
/fcitx/
/fcitx5/
/github-copilot/
/gtk-3.0/
/ibus/
/.gsd-keyboard.settings-ported
