* {
  border: none;
  border-radius: 0;
  font-family: Source Code Pro Medium, Arial, sans-serif;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: #000000;
  border-bottom: 0px;
  color: #00ff00;
  transition-property: background-color;
  transition-duration: 0s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  background-color: transparent;
  border-bottom: 0px;
  color: #00ff00;
  padding: 0 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0);
  box-shadow: inherit;
  border-bottom: 0px;
  text-shadow: inherit;
}

#workspaces button.focused {
  border-bottom: 3px solid #00ff00;
}
#workspaces button.urgent {
  background-color: #ff0000;
}

#backlight,
#battery,
#clock {
  color: #00ff00;
}
#cpu {
  color: #00ff00;
}
#memory {
  color: #00ff00;
}
#mode {
  color: #00ff00;
}
#network {
  color: #00ff00;
}
#pulseaudio {
  color: #00ff00;
}
#temperature {
  padding: 0 10px;
  margin: 0 4px;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery {
  color: #00ff00;
}
#battery.critical:not(.charging) {
  color: #ff0000;
}

#network.disconnected {
  color: #ff0000;
}

#pulseaudio.muted {
  color: #ff0000;
}

#temperature {
  color: #00ff00;
}
#temperature.critical {
  color: #ff0000;
}
